/* Extra Styling */
#bgImg {
  background-repeat: no-repeat;
  background-size: cover;
}

/*Styling suggested by MRO*/
#pdfFormLink {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  white-space: normal !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.identityUpload {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 40%;
}

/* signature page css start */
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #4bc5e8, #9f6274);
  /* background-image: url('https://image.shutterstock.com/image-illustration/abstract-gray-background-260nw-508982365.jpg'); */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#modalOpener {
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-color: #e84700;
  background-color: #e84700;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #ffffff;
  white-space: nowrap;
}

#review {
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 16px;
}

#signHere {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #333333;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  width: auto !important;
  text-decoration: none;
  margin-right: 15px;
}

.camBorder{
  height: 33vh;
}
.pdfViewer{
  margin-left:10%;
  width:80%;
}
.forceCompliance{
  width: 25%;
}
.needHelp{
  width: 550px;
}
.needHelp .col-12{
  width: 30%;
  padding-top: 0;
  padding-bottom: 0;
}
.needHelp .v-input input {
  background-color: white !important;
}
.required:after {
  content: " *";
  color: #000000;
}
/* signature page css end */

@media only screen and (max-width: 600px) {

  .v-dialog:not(.v-dialog--fullscreen) {
    max-height: 100%;
    margin: 0px;
  }

  #signature {
    width: 100%;
    height: 30%;
  }

  #review {
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 16px;
  }

  #signHere {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #333333;
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    width: auto !important;
    text-decoration: none;
    margin-right: 15px;
  }

  /* #pdfViewer {
    width: 100%;
    height: 450px;
  } */
  #phoneNo{
    margin-left:20px; 
  }
  .camBorder{
    height: 40vh;
  }
  .pdfViewer{
    margin-left:0;
    width:100%;
  }
  .forceCompliance{
    width: 90%;
  }  
  .needHelp{
    width: 90%;
  }
  .sessionTransfer{
    height: 100% !important;
  }
}

.withOverflow{
  max-height: 100%  !important;
  overflow: auto !important;
}
.withoutOverflow{
  max-height: 100%  !important;
  overflow: hidden !important;
}
/* .v-text-field .v-label {
  margin-top: -5px !important; 
}
.v-file-input input[type=file] {
  position: fixed;
  width: 100%;
} */
.sessionTransfer{
  width: 550px;
  height: 60%;
}
.wordBreakNormal{
  word-break: normal;
}
.sessionTransfer .col-12{
  width: 30%;
  padding-top: 0;
  padding-bottom: 0;
}
.sessionTransfer .v-input input {
  background-color: white !important;
}
#SessionTransferLinkBtn
{
  text-transform: none !important;
  text-decoration: underline;
  color: white;
}


/* 
Vuetify internal classes */
.v-application {
  font-family: 'Lato', sans-serif !important;
}
.v-btn{
  text-transform: none !important;
}
.v-text-field--placeholder{
  font-size: 14px;
  color: #334150;
}

/* Custom css */
/* wizard content align center */
.center {
  text-align: center;
}
/* eXpress main logo */
#logoImg {
  /* display: block;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; */
  height: 50px;
  /* width: auto; */
}
/* close button postion */
.wizardClose {
  position: absolute;
  right: 3%;
  top: 1%;
}
.pageBody{
  position:relative; 
  min-height:100%;
  padding: 8px;
}
.pageContent{
  padding-bottom:140px;
}
.buttonBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:70px;
  height:70px; 
  background-color: white;
  width: 100%;
}
.footerBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:0px;
  height:70px; 
  background-color: white;
  width: 100%;
}
.footerBlockMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height:70px; 
  bottom: 20px;
  padding-bottom:70px;
}
.buttonBlockMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:0px;
  height:70px; 
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -3px 6px #EBEEF3;
}
/* landing page title message */
.subHeadings {
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #334150;
}
/* disclaimer with background */
.disclaimer {
  background: #EBEEF358 0% 0% no-repeat padding-box;
  border: 1px solid #EBEEF3;
  font-size: 14px;
  text-align: center;
  color: #000000;
  white-space: normal !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 5px 10px;
}
/* footer text */
#poweredby {
  font-size:14px;
  margin-right:5px;
  font-weight: 600;
}
#footer {
  font-size: 12px;
}
/* Each wizard title question */
.titleQuestion{
  font-size: 16px;
  font-weight: bold;
  color: #334150;
}

/* NeedHelp button link */
/* #helpBtnDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none !important;
} */
#helpBtn{
  text-transform: none !important;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  color: #0132D3 !important;
}
/* Popup title and body styling */
.popupTitle{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #334150;
}
.popupBody{
  font-size: 18px;
  color: #334150;
}
.inputLabel{
  text-align: left !important;
  font-size: 14px;
  color: #000000;
}
.titleSubQuestion{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #334150;
}
.smallBlackBtn {
  background-color: #000000 !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #FFFFFF !important;
}
.smallWhiteBtn{
  background-color: #FFFFFF !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #000000 !important;
}
.bigWhiteBtn{
  background-color: #FFFFFF !important;
  font-size: 20px !important;
  font-weight: 600;
  color: #000000 !important;
}
.checkboxBorder {
  height: auto;
  line-height: 40px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: visible;
  border: 1px solid #334150;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-top: -10px;
  position: relative;
  word-wrap: break-word;
}
.checkboxBorder:hover {
  background-color: #EBEEF3;
}
.checkboxBorder:checked {
  background-color: #EBEEF3;
}
.checkboxLabel{
  font-size: 20px !important;
}
#waiverLabel{
  font-size: 14px;
  font-weight: 600;
}
.smallCheckboxWithBg{
  background-color: #EBEEF3;
  border-radius: 5px;
}
.smallCheckboxLabel{
  font-size: 14px;
}
.backAndClose{
  text-align: left;
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  color: #000000 !important;
}
@media only screen and (max-width: 600px) { 
  #eXpressHeader{
    box-shadow: 0px 3px 6px #EBEEF3;
  }
  #helpBtn{
    font-size: 12px;
  }
  .subHeadings {
    font-size: 18px;
  }
  .titleQuestion{
    font-size: 14px;
  }
  .popupTitle{
    font-size: 18px;
  }
  .popupBody{
    font-size: 14px;
  }
  .titleSubQuestion{
    font-size: 18px;
  }
  .bigWhiteBtn{
    font-size: 14px !important;
  }
  .checkboxBorder {
    font-size: 18px !important;
  }
  .checkboxLabel{
    font-size: 18px !important;
  }
}